---
import Layout from "../layouts/Layout.astro"
import DiccionarioComponent from "../components/DiccionarioComponent.astro"
import DiccionarioTest from "../components/DiccionarioTest.astro"
---
<Layout>
  <Fragment slot="head">
    <title>Diccionario</title>
  </Fragment>
  <main class="container my-4 flex-grow-1">
    <DiccionarioTest/>
  </main>
</Layout>