---
import Navbar from '../components/Navbar.jsx';
import Layout from '../layouts/Layout.astro';
import JuegosComponent from '../components/JuegosComponent.astro'
---
<Layout>
  <Fragment slot="head">
     <title>Aprende con juegos </title>
  </Fragment>
  <main class="container my-4 flex-grow-1">
  <JuegosComponent />
  </main>
</Layout>  
<style>
  .juegos{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
