---
import RecursosComponent from '../components/RecursosComponent.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <Fragment slot="head">
    <title>Recursos</title>
  </Fragment>
  <main class="container my-4 flex-grow-1">
    <RecursosComponent/>
  </main>
</Layout>