---
import { SITE_BASE } from "../config";
---
<div class="container-const">
<div class="wrapper">
   <h1>SITIO EN CONSTRUCCIÓN</h1>
  <img src={`${SITE_BASE}`+`/construccion.svg`} alt="">
</div>
  
</div>

<style>
    .container-const{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
</style>