---
const allWords = await Astro.glob('../palabras/*.md')
---

<html>
  <head><title>Diccionario</title></head>
  <body>
    <h1>Diccionario de Lengua de Señas</h1>
    <input id="buscador" placeholder="Buscar palabra..." />
    <div id="resultados">
      {allWords.map((p) => (
        <div>
          <h3>{p.frontmatter.palabra}</h3>
          <video src={p.frontmatter.video} controls width="300"></video>
        </div>
      ))}
    </div>
  </body>
</html>
