.navbar.my-navbar {
  background-color: #0f556c !important; /* azul fuerte */
}

.navbar .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #f8e59b !important; /* amarillo pastel al pasar */
}

.navbar-brand {
  width: 60px;
  margin: 0;
  padding: 0;
}

.accordion-button {
  background-color: #a3c9f7;
  color: #0f556c;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #0f556c;
  color: white;
}
